.body {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
  width: 100vw;
  margin: auto;
  background-color: #fffeff;
}
main {
  width: 96%;
  margin: auto;
}

/* NAVIGATION BAR CSS */
nav {
  width: 100%;
  padding-inline: 10px;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 100;
}

.vertical-line {
  height: 60px;
  border-right: 3px solid #f2f2f2;
}
.mobile-toggler {
  height: 30px;
  font-size: 22px;
  align-items: center;
  justify-content: center;
  display: none;
}
.cust_location > h5 {
  margin: 0px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 16px;
}
.cust_location > p {
  margin: 0px;
  font-size: 12px;
  font-weight: 400;
}

.logintxt,
.my-searchbox-div > label {
  color: #494169;
}

.mobile-set {
  width: 60%;
  justify-content: space-between;
}
.my-searchbox-div {
  padding: 0px 12px;
  border: 1px solid rgb(232, 232, 232);
  border-radius: 12px;
  background: rgb(248, 248, 248);
  color: rgb(130, 130, 130);
  display: flex;
  align-items: center;
  width: 70%;
}

.my-searchbox-div > label {
  flex: 1;
}

.search-item {
  flex: 6;
  border: none;
  background-color: transparent;
  /* max-width: 40vw;
  min-width: 30vw; */
  height: 38px;
}

.search-item::placeholder {
  font-size: 13px;
  color: rgb(153, 153, 153);
}

.logintxt {
  margin: 0px !important;
  font-size: 18px !important;
  font-weight: 400 !important;
  color: rgb(67, 66, 66) !important;
  cursor: pointer;
}

.my-cart {
  font-size: 14px !important;
  color: rgb(255, 255, 255);
  cursor: pointer;
  font-weight: 500 !important;
}

/* main */
.herosection {
  margin: auto;
}
.heroimage {
  width: 100%;
}

/* scrollable pages section */

.scrollabale-pages {
  overflow-x: scroll;
  width: 96%;
  margin: auto;
}

.scrollabale-pages::-webkit-scrollbar {
  display: none;
}

.my-list {
  white-space: nowrap;
}

.my-list > img {
  margin: 8px;
}

/* My-Categories section */

.my-categories {

  width: 97%;
  margin: auto;
}

.categories-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
}


.Category-row {
  width: 97%;
  margin: auto;
  margin-top: 40px;
  position: relative;
}
.Category-row h2 {
  color: rgb(28, 28, 28);
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  margin-left: 10px;
}
.Category-row h5 {
  line-height: 32px;
  font-size: 20px;
  color: rgb(12, 131, 31);
}

.cate-cards-container {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 5px;
  overflow-x: scroll;
}

.cate-cards-container:hover .scroll-arrow{
  display: flex;
}

.cate-cards-container::-webkit-scrollbar {
  display: none;
}

.category-card {
  width: 180px;
  height: 280px;
  margin: 5px 0px;
  margin-left: 5px;
  position: relative;
  background: rgb(255, 255, 255);
  border: 0.5px solid rgb(232, 232, 232);
  box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  padding-bottom: 0.75rem;
  gap: 0.125rem;
  cursor: pointer;
}

.card-img {
  border-radius: 12px;
  overflow: hidden;
  width: 100%;
  position: relative;
}
.card-img > img {
  width: 140px;
  height: 140px;
  object-fit: fill;
  margin: 0px 20px;
}

.card-body {
  box-sizing: border-box;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0px !important;
  padding-top: 0px !important;
}

.wait-time {
  width: fit-content;
  border-radius: 4px;
  border-width: 0px;
  padding: 0px 4px;
  background-color: rgb(248, 248, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}
.wait-time > p {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 9px;
  color: rgb(54, 54, 54);
  margin-bottom: 0px;
}
.wait-time > img {
  height: 10px;
}

.product-name {
  overflow: hidden;
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  line-height: 18px;
  width: 100%;
  height: 36px;
  margin-top: 4px;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.product-quantity {
  height: 22px;
  display: flex;
  align-items: start;
  width: 100%;
}

.product-quantity span {
  color: #666;
  font-size: 12px;
  height: 13px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.product-buy {
  width: 100%;
}
.product-price {
  color: rgb(31, 31, 31);
  font-weight: 600;
  font-size: 12px;
  line-height: 1.1;
}
.old-price {
  color: rgb(130, 130, 130);
  font-size: 12px;
  text-decoration: line-through;
  font-weight: 400;
}

.buy-button {
  font-size: 13px;
  font-weight: 600;
  height: 31px;
  width: fit-content;
  color: rgb(49, 134, 22);
  cursor: pointer;
  border: 1px solid rgb(49, 134, 22);
  background-color: rgb(247, 255, 249);
  border-radius: 0.375rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.discount {
  position: absolute;
  top: 0px;
  left: 20px;
}

.discount-percentage {
  color: rgb(255, 255, 255);
  font-weight: 800;
  font-size: 9px;
  text-align: center;
  z-index: 20;
  position: absolute;
  top: 0px;
  left: 5px;
  margin-bottom: 0px;
  line-height: 1.2;
}

.Category-row3 {
  margin-bottom: 20px;
}

.scroll-arrow {
  display: none;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 34px;
  width: 34px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px, rgba(0, 0, 0, 0.12) 0px 1px 18px 0px;
  border-radius: 50%;
  position: absolute;
  z-index: 10;
  bottom: 43%;
  border: 4px solid transparent;
  cursor: pointer;
}

.scroll-arrow:hover {
  transform: scale(1.1);
}
.scroll-right {
  right: -20px;
}
.scroll-left {
  left: -16px;
}


footer {
  width: 100%;
  padding: 20px;
}
.footer-tables {
  width: 100%;
}

.my-table {
  width: 100%;
}

.my-table > caption {
  font-weight: 600;
  color: rgb(0, 0, 0);
  font-size: 18px;
}

.my-table td {
  text-transform: capitalize;
  font-size: 12px;
}

.table-2 > caption span {
  font-size: 16px;
}

.table-2 > caption span a {
  text-decoration: none;
  color: rgb(12, 131, 31);
}

.footer-section-2 {
  background-color: #fcfcfc;
  width: 100%;
}

.footer-msg {
  font-size: 14px;
  color: rgb(102, 102, 102);
  font-family: OKRA-REGULAR;
  line-height: 18px;
  margin: 12px;
}

.copyright {
  color: #666;
  font-size: 12px;
}

.download-app > p {
  font-weight: 600;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 0px;
}

.download-app > img {
  height: 26px;
}

.my-link-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: end;
}
.link-button {
  width: 36px;
  height: 36px;
  padding: 4px;
  background-color: #1f1f1f;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  /* NAVBAR */
  nav,
  .footer-section-2 {
    flex-direction: column;
  }
  .mobile-set {
    width: 96%;
  }

  .my-searchbox-div {
    width: 80%;
  }
  .logo-container {
    height: 45px;
    width: 98% !important;
    justify-content: space-between !important;
  }
  .vertical-line,
  .logintxt,
  .pc-only,
  .scroll-arrow {
    display: none !important;
  }

  .mobile-toggler {
    display: flex;
  }

  .my-list > img {
    width: 225px;
    height: 120px;
  }
  /*  */
  .my-table,
  .my-table > caption {
    text-align: center;
  }

  .table-2 {
    margin-top: 20px;
  }

  .my-link-buttons {
    justify-content: space-around !important;
  }
}
